$tableBg: #fff;
$headerBg: #F5F6FA;

.myRentTable{
    background-color: $tableBg;
    border-radius: 20px;
    .table{
        .theadLight{
            background-color: $headerBg;
            border-radius: 20px !important;
        }
    
    }
}